certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.29
djangorestframework==3.9.1
djangorestframework-gis==0.11.2
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.6
psycopg2==2.7.3.1
pytz==2017.2
requests==2.20.0
requests-oauthlib==0.8.0
urllib3==1.24.2
whitenoise==3.3.1
yelpapi==2.2.2
